<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/Admin/dashboard.css" />
    <script src="/js/Admin/dashboard.js"></script>
    <title>Dashboard</title>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <p class="p-role">
          <% if(role && username){%><span class="span-role"><%=role%>: </span
          ><span class="span-username"><%=username%></span><%}%>
        </p>
        <a class="btn logout-btn" href="/logout">log out</a>
      </div>
      <div class="routes-container">
        <a class="btn route-btn" href="/users/management"
          ><span class="route-btn-text">manage users</span
          ><span class="route-btn-icon"><img src="/Assets/Icons/user_group.svg" alt="" /></span
        ></a>

        <a class="btn route-btn" href="/cctv"
          ><span class="route-btn-text"> manage CCTV</span
          ><span class="route-btn-icon"><img src="/Assets/Icons/cctv.svg" alt="" /></span
        ></a>

        <a class="btn route-btn" href="/locations"
          ><span class="route-btn-text">manage locations</span
          ><span class="route-btn-icon"><img src="/Assets/Icons/location.svg" alt="" /></span
        ></a>

        <a class="btn route-btn" href="/alert-logs"
          ><span class="route-btn-text">alert logs</span
          ><span class="route-btn-icon"><img src="/Assets/Icons/log.svg" alt="" /></span
        ></a>

        <a class="btn route-btn" href="/reports"
          ><span class="route-btn-text">failure reports</span
          ><span class="route-btn-icon"><img src="/Assets/Icons/failure.svg" alt="" /></span
        ></a>
      </div>
    </div>
  </body>
</html>
