/*pop up container, backdrop*/
.popup-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(0.25rem);
}
.popup-btn-container {
  background-color: white;
  width: 80%;
  max-width: 28.75rem;
  height: 80%;
  max-height: 24.5625rem;
  position: relative;
  border-radius: 3.75rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.8125rem;
  border: 1px solid black;
}

.popup-btn-container .close-btn {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  border: none;
  transition: all 0.2s ease-in-out;
}

.popup-btn-container .close-btn:hover {
  transform: scale(1.2);
}
.popup-btn-container .home-logout-btn {
  width: 7ch;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  padding: 0.75rem 3.375rem;
  box-sizing: content-box;
  border-radius: 100vw;
  transition: all 0.2s ease-in-out;
}

.popup-btn-container .home-logout-btn:hover {
  background-color: black;
  color: white;
}

.popup-container.disabled {
  display: none;
}
.popup-container.deactive {
  animation: fade-out 300ms forwards;
}
.popup-container.active {
  animation: fade-in 300ms forwards;
}

.popup-container.deactive .popup-btn-container {
  animation: scale-out 300ms forwards;
}
.popup-container.active .popup-btn-container {
  animation: scale-in 300ms forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes scale-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
