<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/ground_personnel/alert.css" />
    <script type="module" src="/js/ground_personnel/alert.js" defer></script>
    <title>alert</title>
  </head>
  <body>
    <div class="popup-container backdrop disabled" id="menu-popup-container">
      <div class="popup-btn-container">
        <a href="/ground_personnel/dashboard" class="btn home-logout-btn home-btn">Home</a>
        <a href="/logout" class="btn home-logout-btn logout-btn">Logout</a>
        <button class="btn close-btn" id="close-logout-popup-btn">
          <img src="/Assets/Icons/close.svg" alt="close" />
        </button>
      </div>
    </div>
    <div class="container">
      <div class="navbar">
        <div>
          <a href="/ground_personnel/dashboard" class="nav-back-btn">
            <img src="/Assets/Icons/back_arrow.svg" alt="back-icon" srcset=""
          /></a>
        </div>
        <p class="p-role">Cala Kenya</p>
        <button class="btn menu-btn" id="open-logout-popup-btn">
          <img src="/Assets/Icons/mobile_menu.svg" alt="menu" />
        </button>
      </div>
      <div class="body">
        <div class="vidoe">
          <video width="640" height="360" controls autoplay loop muted poster="posterimage.jpg">
            <source src="../../../video/m13.webm" type="video/webm" />
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
  </body>
</html>
