<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Ground Personnel Dashboard</h1>
    <a href="/alert-logs">alert logs</a>
    <a href="/reports">failure reports</a>
    <a href="/cctv"> cctv</a>
    <a href="/locations">manage locations</a>
    <a href="/users/management">manage-users</a>
    <div><a href="/logout">logout</a></div>
  </body>
</html>
