<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/ground_personnel/dashboard.css" />
    <script src="/socket.io/socket.io.js" defer></script>
    <script type="module" src="/js/ground_personnel/dashboard.js" defer></script>
    <title>Dashboard</title>
  </head>
  <body>
    <div class="popup-container backdrop disabled" id="menu-popup-container">
      <div class="popup-btn-container">
        <a href="/ground_personnel/dashboard" class="btn home-logout-btn home-btn">Home</a>
        <a href="/logout" class="btn home-logout-btn logout-btn">Logout</a>
        <button class="btn close-btn" id="close-logout-popup-btn">
          <img src="/Assets/Icons/close.svg" alt="close" />
        </button>
      </div>
    </div>
    <div class="container">
      <div class="navbar">
        <div><a href="/logout"></a></div>
        <p class="p-role">Cala Kenya</p>
        <button class="btn menu-btn" id="open-logout-popup-btn">
          <img src="/Assets/Icons/mobile_menu.svg" alt="menu" />
        </button>
      </div>
      <div class="body">
        <div class="no-alert-title-container"><p class="title">No Ongoing Threat</p></div>
        <div class="alert-title-container disabled">
          <div class="title-time-container">
            <p class="title">New Alert</p>
            <p class="time-ellapsed"></p>
          </div>
          <button id="more-detail-btn" class="btn">View Details</button>
        </div>
        <div class="alert-container disabled">
          <div class="video-container">
            <video id="video-player" width="320" height="240" controls>
              Your browser does not support the video tag.
            </video>
          </div>
          <div class="info-container">
            <div class="title-value-container">
              <p class="info-title">Recorded Time</p>
              <p class="info_value" id="timer-p"></p>
            </div>

            <div class="title-value-container">
              <p class="info-title">Location</p>
              <div id="locations-container"></div>
            </div>
            <div class="title-value-container">
              <p class="info-title">Camera no.</p>
              <p class="info_value"><span>Cam ID </span><span id="camera-id"></span></p>
            </div>
          </div>
          <button class="btn resolve-btn">Resolve</button>
        </div>
      </div>
    </div>
    <input type="text" id="err-inp" />
  </body>
</html>
