<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage locations</title>
    <link rel="stylesheet" href="/css/Admin/locations/location-management.css" />
    <script type="module" src="/js/Admin/locations/location-management.js" defer></script>
  </head>
  <body>
    <div class="popup-container backdrop disabled" id="menu-popup-container">
      <div class="popup-btn-container">
        <a href="/admin/dashboard" class="btn home-logout-btn home-btn">Home</a>
        <a href="/logout" class="btn home-logout-btn logout-btn">Logout</a>
        <button class="btn close-btn" id="close-logout-popup-btn">
          <img src="/Assets/Icons/close.svg" alt="close" />
        </button>
      </div>
    </div>
    <div class="container">
      <div class="navbar">
        <a class="btn back-btn" href="/admin/dashboard"
          ><img src="/Assets/Icons/back_arrow.svg" alt="back"
        /></a>
        <p class="p-titile">
          <span>Manage locations</span>
          <span><img src="/Assets/Icons/location.svg" alt="map-icon" /></span>
        </p>
        <button class="btn menu-btn" id="open-logout-popup-btn">
          <img src="/Assets/Icons/menu.svg" alt="menu" />
        </button>
      </div>
      <div class="routes-container">
        <a class="btn grid-btn" href="/locations/add"
          ><span class="grid-btn-text">Add Location</span
          ><span class="grid-btn-icon"><img src="/Assets/Icons/add.svg" alt="" /></span
        ></a>

        <a class="btn grid-btn" href="/locations/remove"
          ><span class="grid-btn-text"> Edit / Remove Location</span
          ><span class="grid-btn-icon"
            ><img src="/Assets/Icons/remove.svg" alt="remove-icon" /></span
        ></a>
      </div>
    </div>
  </body>
</html>
